:root {
  /*fonts*/
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /*text color*/
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --white-text-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --accent-text-color: #4d5ae5;
  --focus-nav-color: #404bbf;

  /*background color*/
  --main-bgc-color: #ffffff;
  --secondary-bgc-color: #2e2f42;
  --grey-bgc-color: #f4f4fd;
  --iris-bgc-btn: #4d5ae5;
  --ocean-bgc-btnfocus: #404bbf;
}

body {
  font-family: var(--primary-font);
  color: var(--main-text-color);
  background-color: var(--main-bgc-color);
}

a {
  text-decoration: none;
}
ul,
p,
h1,
h2,
h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

li {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*HEADER*/

.header {
  border: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  align-items: center;
  /*padding-left: 15px;
  padding-right: 15px;*/
}
/*Navigation*/
.container-menu {
  display: flex;
  align-items: center;
  margin: 0;
}
.logo-span {
  outline: 2px solid tomato;
}

.logo,
.logo-span {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.logo-span {
  color: var(--secondary-text-color);
}
.link,
.logo {
  text-decoration: none;
}

.list {
  text-decoration: none;
}

.container-nav {
  display: flex;
  align-items: center;
  text-align: center;
  /*outline: 2px solid black;*/
  margin-right: 332px;
  margin-left: 76px;
}

.nav-studio {
  padding-top: 24px;

  padding-bottom: 24px;
  margin-right: 40px;
}

.nav-portfolio {
  padding-top: 24px;

  padding-bottom: 24px;
  margin-right: 40px;
}

.nav-contacts {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--focus-nav-color);
}

.container-address {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 0;
}

.address {
  font-style: normal;
  outline: 2px solid tomato;
}

.address-link,
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--focus-nav-color);
}

/*Main*/

/*HERO*/

.hero {
  background-color: var(--secondary-bgc-color);
}
.container-hero {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  /*margin-bottom: 120px;*/
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-text-color);
  text-align: center;
  letter-spacing: 0.02em;
}

.btn-hero {
  display: inline-block;
  padding: 16px 32px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-text-color);
  background-color: var(--iris-bgc-btn);
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.btn-hero:hover,
.btn-hero:focus {
  background: var(--ocean-bgc-btnfocus);
}

/*SECTION _1*/
.container-section-one {
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  outline: 2px solid blue;
}

.list-section-one {
  display: flex;
  outline: 2px solid red;
}

.item-one-strategy,
.item-one-punctuality,
.item-one-diligence {
  margin-right: 24px;
  outline: 2px solid green;
}

.subtitle-section-one {
  padding-bottom: 8px;
}

.subtitle-section-one,
.subtitle-section-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.text-section-one,
.text-section-three,
.text-portfolio-row {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.text-section-one {
  color: var(--main-text-color);
}

.title-section-two,
.title-section-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.title-section-two {
  margin-bottom: 72px;
  outline: 2px solid green;
}

.list-section-two {
  display: flex;
  gap: 24px;
  outline: 2px solid orange;
  padding-bottom: 120px;
}

/*Section_3*/

.title-section-three {
  width: 1158px;
  padding-top: 120px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 72px;
  outline: 2px solid skyblue;
}

.list-section-three {
  display: flex;
  align-items: center;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  gap: 24px;
  padding-bottom: 120px;
}

.section-three {
  background-color: var(--grey-bgc-color);
}

.team {
  outline: 2px solid red;
  background-color: var(--main-bgc-color);
}
.img-team {
  margin-bottom: 32px;
}
.subtitle-section-three,
.text-section-three {
  text-align: center;
}

.text-section-three {
  margin-bottom: 32px;
  color: var(--main-text-color);
}
/*Footer*/

.footer-container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 100px;

  background-color: var(--secondary-bgc-color);
}
.footer-logo {
  margin-bottom: 16px;
}
.footer-span {
  color: var(--footer-text-color);
}

.text-footer {
  max-width: 264px;
  padding-bottom: 100px;

  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
}

/*Portfolio*/

/*BUTTONS*/

.btn-container {
  padding-top: 96px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-text-color);
  border: none;
  background-color: var(--grey-bgc-color);
  cursor: pointer;

  border-radius: 4px;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--white-text-color);
  background-color: var(--ocean-bgc-btnfocus);
}
.portfolio-btn {
  margin-right: 24px;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
  background-color: var(--grey-bgc-color);
  border: none;
  cursor: pointer;
}
.last-portfolio-btn {
  margin-right: 0;
}

.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--footer-text-color);
  background-color: var(--ocean-bgc-btnfocus);
}

/*Row*/

.row-list {
  /*outline: 2px solid salmon;*/
  display: flex;
  flex-wrap: wrap;

  margin-left: -24px;
}

.row-list > .row-item {
  flex-basis: calc(100% / 3 -24px);
  margin-left: 24px;
  padding-bottom: 48px;
  border-bottom: 1px solid #e7e9fc;

  /*border: 1px solid #E7E9FC;*/

  /*outline: 2px solid black;*/
}

.title-portfolio-row {
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.text-portfolio-row {
  margin-left: 16px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
